:root {
  --uni-app-max-width: none;
}

.uni-page-body,
.uni-page {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

#app {
  width: 100% !important;
  height: 100% !important;
}

@media screen and (min-width: 768px) {
  .uni-page-body {
    width: 100% !important;
    max-width: none !important;
  }
}