@import '../../styles/variables.less';

.pinyinText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &.vertical {
    flex-direction: row;
  }

  &.alignLeft {
    align-items: flex-start;

    .pinyinRow,
    .textRow {
      justify-content: flex-start;
    }
  }

  &.alignRight {
    align-items: flex-end;

    .pinyinRow,
    .textRow {
      justify-content: flex-end;
    }
  }
}

.charGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;

  .pinyin {
    line-height: 1;
    margin-bottom: 0;
  }

  .char {
    line-height: 1;
  }
}

.textRow {
  display: flex;
  justify-content: center;
}

.pinyinRow {
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
  height: auto;
  line-height: 1;
  gap: 4px;
}

.char {
  font-size: 26px;
  color: @text-color;
  font-weight: bold;
}

.pinyin {
  font-size: 20px;
  color: #666;
  margin-bottom: 4px;
}