@import '../../styles/variables.less';

.pinyinText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &.vertical {
    flex-direction: row;
  }

  &.alignLeft {
    align-items: flex-start;

    .charRow {
      justify-content: flex-start;
    }
  }

  &.alignRight {
    align-items: flex-end;

    .charRow {
      justify-content: flex-end;
    }
  }
}

.charRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.charGroup {
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1px;
  min-width: 1.5em;
  flex-shrink: 0;

  .pinyin {
    line-height: 1;
    margin-bottom: 4px;
    white-space: nowrap;
  }

  .char {
    line-height: 1;
  }
}

.char {
  font-size: 26px;
  color: @text-color;
  font-weight: bold;
}

.pinyin {
  font-size: 20px;
  color: #666;
  margin-bottom: 4px;
}